<div class="blue-background">
    <div class="main-confirm-table">
        <h1 class="confirm-heading">My Time Table</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Period</th>
                        <th class="day-name">Monday</th>
                        <th class="day-name">Tuesday</th>
                        <th class="day-name">Wednesday</th>
                        <th class="day-name">Thursday</th>
                        <th class="day-name">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="period-data">10 - B</td>
                        <td class="period-data">9 - B</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">7 - A</td>
                        <td class="period-data">6 - C</td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">-</td>
                        <td class="period-data">-</td>
                        <td class="period-data">10 - A</td>
                        <td class="period-data">11 - A</td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="period-data">8 - B</td>
                        <td class="period-data">10 - B</td>
                        <td class="period-data">6 - C</td>
                        <td class="period-data">9 - A</td>
                        <td class="period-data">-</td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="period-data">-</td>
                        <td class="period-data">9 - B</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">11 - F</td>
                        <td class="period-data">-</td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">6 - C</td>
                        <td class="period-data">-</td>
                        <td class="period-data">10 - C</td>
                        <td class="period-data">11 - A</td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td class="period-data">7 - A</td>
                        <td class="period-data">7 - C</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">6 - A</td>
                        <td class="period-data">6 - C</td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">8 - B</td>
                        <td class="period-data">-</td>
                        <td class="period-data">11 - A</td>
                        <td class="period-data">-</td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="period-data">9 - B</td>
                        <td class="period-data">-</td>
                        <td class="period-data">6 - D</td>
                        <td class="period-data">-</td>
                        <td class="period-data">6 - B</td>
                    </tr>
                </tbody>
            </table>
            <div class="button-container">
                <button class="button back-button" (click)="navigateToCreateTimTblPage()">BACK</button>
                <button class="button next-button">CONFIRM</button>
            </div>
        </div>
        
    </div>
</div>
