<app-nav-bar></app-nav-bar>
<div class="main">
    <div class="profile-pic col-md-4">
        <img src="images/sample_profile_pic.jpeg" alt="">
        <button type="submit" class="edit-profile-pic-btn"><i class="bi bi-camera" style="margin-right: 1em;"></i>Edit</button>
    </div>
    <div class="profile-details col-md-8">
        <h1>Edit your Profile</h1>
        <label for="registerId">Your Registration ID</label>
        <input type="text" id="registerId" [(ngModel)]="user.teacherId" readonly/>
        <label for="name">Name</label>
        <div class="edit-field">
            <input type="text" id="editName" [(ngModel)]="user.teacherName">
            <button class="icon-button" onclick="editField('name')">
                <i class="bi bi-pen"></i>
            </button>
        </div>
        <label for="email">School Name</label>
        <div class="edit-field">
            <input type="text" id="editSclName" [(ngModel)]="user.schoolName">
            <button class="icon-button" onclick="editField('sclName')">
                <i class="bi bi-pen"></i>
            </button>
        </div>
        <label for="email">Subject</label>
        <div class="edit-field">
            <input type="text" id="editSubject" [(ngModel)]="user.subject">
            <button class="icon-button" onclick="editField('subject')">
                <i class="bi bi-pen"></i>
            </button>
        </div>
        <label for="email">Contact Number</label>
        <div class="edit-field">
        <input type="text" id="editContactNo" [(ngModel)]="user.contactNumber">
        <button class="icon-button" onclick="editField('contact')">
            <i class="bi bi-pen"></i>
        </button>
        </div>
        <label for="email">Email</label>
        <div class="edit-field">
            <input type="email" id="editEmail" [(ngModel)]="user.email">
            <button class="icon-button" onclick="editField('email')">
                <i class="bi bi-pen"></i>
            </button>
        </div>
        <label for="email">User Name</label>
        <div class="edit-field">
            <input type="text" id="editUserName" [(ngModel)]="user.userName">
            <button class="icon-button" onclick="editField('userName')">
                <i class="bi bi-pen"></i>
            </button>
        </div>
        <label for="email">Password</label>
        <div class="edit-field">
            <input type="password" id="editpassword" [(ngModel)]="user.password">
            <button class="icon-button" onclick="editField('password')">
                <i class="bi bi-pen"></i>
            </button>
        </div>
    </div>
    <div class="save-profile-btn">
        <button type="button" class="btn btn-primary" (click)="saveProfile()">submit</button>
    </div>
</div>
