<app-nav-bar></app-nav-bar>
<div class="blue-background">
    <h1 class="confirm-heading">Assign Your Tasks</h1>
    <div class="selecte-date">
        <label for="date-picker">Select Date:</label>
        <input type="date" id="date-picker">
    </div>
    <div class="main-confirm-table"> 
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Period</th>
                        <th class="day-name">Monday
                        
                        </th>
                        <th class="day-name">Tuesday</th>
                        <th class="day-name">Wednesday</th>
                        <th class="day-name">Thursday</th>
                        <th class="day-name">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="period-data">{{ gradeList[0]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[8]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[16]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[24]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[32]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="period-data">{{ gradeList[1]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[9]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[17]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[25]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[33]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="period-data">{{ gradeList[2]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[10]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[18]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[26]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[34]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="period-data">{{ gradeList[3]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[11]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[19]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[27]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[35]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="period-data">{{ gradeList[4]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[12]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[20]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[28]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[36]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td class="period-data">{{ gradeList[5]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[13]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[21]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[29]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[37]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td class="period-data">{{ gradeList[6]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[14]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[22]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[30]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[38]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="period-data">{{ gradeList[7]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[15]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[23]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[31]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">{{ gradeList[39]?.grade || '(No Data)' }}
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>