<app-nav-bar></app-nav-bar>
<div class="blue-background">
    <h1 class="confirm-heading">Assign Your Tasks</h1>
    <div class="selecte-date">
        <label for="date-picker">Select Date:</label>
        <input type="date" id="date-picker">
    </div>
    <div class="main-confirm-table"> 
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Period</th>
                        <th class="day-name">Monday
                        
                        </th>
                        <th class="day-name">Tuesday</th>
                        <th class="day-name">Wednesday</th>
                        <th class="day-name">Thursday</th>
                        <th class="day-name">Friday</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td class="period-data">10 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">9 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">7 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - C
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>2</td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">10 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">11 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>3</td>
                        <td class="period-data">8 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">10 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - C
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">9 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>4</td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">9 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">11 - F
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>5</td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - C
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">10 - C
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">11 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>6</td>
                        <td class="period-data">7 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">7 - C
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - C
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>7</td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">8 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">11 - A
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                    <tr>
                        <td>8</td>
                        <td class="period-data">9 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - D
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">-
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                        <td class="period-data">6 - B
                            <button (click)="navigateAddTaskPage()"><i class="bi bi-plus-circle"></i></button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>