<app-nav-bar></app-nav-bar>
<div class="blue-background">
    <div class="headding-line">
        <h1 class="welcome-heading">Welcome to Teach Time</h1>
    </div>
    <div class="btn-panel">
        <button class="custom-button" id="btnAssignTasks" (click)="navigateToAssignPage()">Assign  Tasks</button>
        <button class="custom-button" id="btnViewAssignedTasks" (click)="navigateToViewAssignedPage()">View Assigned Tasks</button>
        <button class="custom-button" id="btnReassignIncompletedTasks" (click)="navigateToReassignPage()">Reassign Incompleted Tasks</button>
        <button class="custom-button" id="btnSearchCompletedTasks" (click)="navigateToCompletedTasksPage()">Search Completed Tasks</button>
    </div>
</div>
