<app-nav-bar></app-nav-bar>
<div class="blue-background">
    <h1>Incompleted Tasks</h1>
    <div class="add-task-container">
        
    
        <div class="task-input-section">
            <label for="taskDate">Date:</label>
            <input type="date" id="taskDate" class="date-input" />
            
            <!-- <label for="taskGrade">Grade:</label>
            <input type="text" id="taskGrade" class="grade-input" placeholder="e.g., 8 - G" /> -->
        </div>
        <div class="search-btn">
            <button  class="add-task-button">Search</button>
        </div>
        
        <!-- <div class="tasks-list">
            <div *ngFor="let task of tasks" class="task-item">
                <span class="task-text">{{ task.text }}</span>
                <button class="task-button reassign">View</button>
            </div>
        </div> [(ngModel)]="newTask" (click)="addTask()"-->
    </div>
</div>
