<div class="blue-background">
    <div class="main-container">
        <h1 class="heading">Enter Your Time Table</h1>
        <div class="table-container">
            <table>
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Grade</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><a href="#">Monday</a></td>
                        <td>
                            <input type="text" placeholder="1 period">
                            <input type="text" placeholder="2 period">
                            <input type="text" placeholder="3 period">
                            <input type="text" placeholder="4 period">
                            <input type="text" placeholder="5 period">
                            <input type="text" placeholder="6 period">
                            <input type="text" placeholder="7 period">
                            <input type="text" placeholder="8 period">
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Tuesday</a></td>
                        <td>
                            <input type="text" placeholder="1 period">
                            <input type="text" placeholder="2 period">
                            <input type="text" placeholder="3 period">
                            <input type="text" placeholder="4 period">
                            <input type="text" placeholder="5 period">
                            <input type="text" placeholder="6 period">
                            <input type="text" placeholder="7 period">
                            <input type="text" placeholder="8 period">
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Wednesday</a></td>
                        <td>
                            <input type="text" placeholder="1 period">
                            <input type="text" placeholder="2 period">
                            <input type="text" placeholder="3 period">
                            <input type="text" placeholder="4 period">
                            <input type="text" placeholder="5 period">
                            <input type="text" placeholder="6 period">
                            <input type="text" placeholder="7 period">
                            <input type="text" placeholder="8 period">
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Thursday</a></td>
                        <td>
                            <input type="text" placeholder="1 period">
                            <input type="text" placeholder="2 period">
                            <input type="text" placeholder="3 period">
                            <input type="text" placeholder="4 period">
                            <input type="text" placeholder="5 period">
                            <input type="text" placeholder="6 period">
                            <input type="text" placeholder="7 period">
                            <input type="text" placeholder="8 period">
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#">Friday</a></td>
                        <td>
                            <input type="text" placeholder="1 period">
                            <input type="text" placeholder="2 period">
                            <input type="text" placeholder="3 period">
                            <input type="text" placeholder="4 period">
                            <input type="text" placeholder="5 period">
                            <input type="text" placeholder="6 period">
                            <input type="text" placeholder="7 period">
                            <input type="text" placeholder="8 period">
                        </td>
                    </tr>
                </tbody>
            </table>
            <button type="submit" class="submit-button" (click)="submitTimetable()">Submit</button>
        </div>
    </div>
</div>
